services:
  react-frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:5173"
    networks:
      - platform-network

networks:
  platform-network:
    external: true